@model FriscoDev.Application.ViewModels.AdministrationViewModel
@{
    string title = "Add";
    if (Model.IsAdd == 2)
    {
        title = "Edit";
    }
    ViewBag.Title = title;
}
@section head{
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .margin0-set {
            margin-left: 0px;
            margin-right: 0px;
        }



        input.form-control, select.form-control {
            border-radius: 0px;
        }


        .form-horizontal .control-label {
            width: 190px;
        }
    </style>

}

<div id="main-area">
    <div id="main-area-content" class="user_box" style="overflow:auto;">
        <nav>
            <div id="page-wrapper">
                <div class="row margin0-set">
                    <div class="col-sm-12">
                        <h2 style="text-align:center;padding-top: 40px">@title customer’s administrator account</h2>
                    </div>
                </div>
                <div class="container-fluid" style="padding-top: 20px;padding-bottom: 30px;">
                    <div class="row margin0-set layui-form">
                        <div class="col-lg-7 col-lg-offset-1 col-sm-12" style="margin-top: 10px;margin-left:200px;">
                            <form id="form1" method="POST" class="form-horizontal">
                                <input type="hidden" name="IsAdd" value="@Model.IsAdd" />
                                <input type="hidden" name="UserId" value="@Model.UserId" />
                                <div class="form-group">
                                    <label for="UserEmail" class="col-sm-4 text-right control-label">User Email：</label>
                                    <div class="col-sm-8">
                                        @if (Model.IsAdd == 1)
                                        {
                                            <input type="text" class="form-control" name="Email" value="" lay-verify="addEmail" maxlength="200" />
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control" name="Email" value="@Model.UserName" lay-verify="editEmail" maxlength="200" />
                                        }
                                    </div>
                                </div>

                              
                                <div class="form-group">
                                    <label for="RealName" class="col-sm-4 text-right control-label">Police Dept Name：</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="PoliceDeptName" name="PoliceDeptName" value="@Model.PoliceDeptName" lay-verify="required" maxlength="200" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="RealName" class="col-sm-4 text-right control-label">Contact Office Name：</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="ContactOffice" name="ContactOffice" value="@Model.ContactOffice" lay-verify="required" maxlength="100" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="RealName" class="col-sm-4 text-right control-label">Contact Office Phone：</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="ContactPhone" name="ContactPhone" value="@Model.ContactPhone" lay-verify="required" maxlength="20" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="RealName" class="col-sm-4 text-right control-label">Address：</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address" lay-verify="required" maxlength="400" />
                                    </div>
                                </div>

                                <div class="form-group form-group1" style="margin-top:40px;">
                                    <div class="col-sm-3 col-lg-3 col-lg-offset-4">
                                        <button id="submit" type="button" class="button" style="width:100px;" lay-submit="" lay-filter="save">Save</button>
                                    </div>
                                    <div class="col-sm-3 col-lg-3">
                                        <button class="button" type="button" id="btncancel" role="button" style="width:100px;">Cancel</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </div>

    <div class="clearfix"></div>
</div>

@section scripts{
    <script src="~/Scripts/plupload/plupload.full.min.js"></script>

    <script>
        $(function () {
            $("#btncancel").click(function () {
                window.location.href = "@Url.Content("~/Administration/List")";
            })
        })


    </script>

    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;



            //自定义验证规则
            form.verify({
                addEmail: function (value) {
                    value = StrTrim(value);
                    if (!value) {
                        return 'This field is required';
                    }

                    if (!isCheckMail(value))
                        return 'Please enter the correct email format';

                    var domainUrl = "@Url.Content("~/Administration/Exist")";
                    var isExistEmail = isExistInputValue(value, domainUrl);
                    if (isExistEmail === true) {
                        return "This email already exists";
                    }
                }
                , editEmail: function (value) {
                    value = StrTrim(value);
                    if (!value) {
                        return 'This field is required';
                    }

                    if (!isCheckMail(value))
                        return 'Please enter the correct email format';
                }
             , pass: [
                /^[\S]{6,20}$/
                , 'Password is 6-20 digits'
             ]

                , repass: function (value) {
                    value = StrTrim(value);
                    if (value !== $('#Password').val()) {
                        return 'Passwords do not match';
                    }
                }

            });


            //监听提交
            form.on('submit(save)', function (data) {

                $ajaxFunc("@Url.Content("~/Administration/SaveAdmin")", data.field, function (res) {
                    if (res.code === 0) {
                        layer.msg("Save successfully", { time: 1000, offset: 'auto' }, function (index) {
                            layer.close(index);
                            window.location.href = "@Url.Content("~/Administration/List")";
                        });

                    } else {
                        LayerAlert(res.msg);
                    }
                });
                return false;
            });



        });
    </script>

}






