
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ACI-PMG</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="~/library/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/library/assets/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/library/css/styles.css" rel="stylesheet" />
    <link href="~/library/js/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/public.js"></script>

    <script src="~/library/assets/js/jquery.js"></script>
    <script src="~/library/js/layui/layui.js"></script>
    <script src="~/library/assets/js/bootstrap.min.js"></script>
    <script src="~/library/plugins/jquery.uniform.js"></script>
    <script src="~/library/js/cookie.js"></script>
    <script src="~/library/js/main.js"></script>
    <script src="~/library/js/index.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Scripts/vee-validate.js"></script>
    <link href="~/library/css/custome.css" rel="stylesheet" />
    <style>
        label.connection {
            font-size: 11px;
        }

        a {
            cursor: pointer;
        }

        .common-nav-list {
            top: 150px;
        }

        .l_title_active {
            background: #ef5b2f !important;
        }
    </style>

    @RenderSection("head", false)

    <script>
        function HomePage() {
            window.location.href = "@Url.Action("Index","Home")";
        }
        function DeviceLocation() {
            window.location.href = "@Url.Action("Index","Home")";
        }
        function SystemMessage() {
            window.location.href = "@Url.Action("Message", "Device")";
        }

        function StatsLog() {
            window.location.href = "@Url.Action("Index", "StatsLog")";
        }
        function Report() {
            window.location.href = "@Url.Action("Index", "Report")";
        }
        function HistoryData() {
            window.location.href = "@Url.Action("Location", "Home",new{ imsi = ViewBag.PId})";
        }
        function TimeCount() {
            window.location.href = "@Url.Action("TimeCount", "Report")";
        }
        function SpeedCount() {
            window.location.href = "@Url.Action("SpeedCount", "Report")";
        }
        function Pie() {
            window.location.href = "@Url.Action("Pie", "Report")";
        }
        function WeeklyCountTime() {
            window.location.href = "@Url.Action("WeeklyCountTime", "Report")";
        }
        function EnforcementSchedule() {
            window.location.href = "@Url.Action("EnforcementSchedule", "Report")";
        }
        function CountSpeedPercentile() {
            window.location.href = "@Url.Action("CountSpeedPercentile", "Report")";
        }
        function AverageSpeedTime() {
            window.location.href = "@Url.Action("AverageSpeedTime", "Report")";
        }

        var $ajaxFunc = function (reqUrl, jsonData, callback) {
            var load = layer.load(0);
            $.ajax({
                type: "POST",
                url: reqUrl,
                data: jsonData,
                success: function (data) {
                    if (load)
                        layer.close(load)
                    if (typeof callback === "function") {
                        callback(data);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    if (load)
                        layer.close(load)
                    console.log("ajax error:" + xhr.statusText);
                }

            })
        }
        var $ajaxFuncNoLoading = function (reqUrl, jsonData, callback) {
            $.ajax({
                type: "POST",
                url: reqUrl,
                data: jsonData,
                success: function (data) {
                    if (typeof callback === "function") {
                        callback(data);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("ajax error:" + xhr.statusText);
                }

            })
        }
    </script>
</head>

<body id="body-div">

    @Html.Partial("_PartialView")

    <div class="common-nav">
        <div class="common-nav-list">
            <ul class="ul">
                <li>
                    <div>
                        <div class="title" onclick="HomePage()"><img src="@Url.Content("~/library/images/Site_icon.png")" alt="">Site Supervisor</div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="title"><img src="@Url.Content("~/library/images/setup.png")" alt="" style="margin-left: 5px;"><span style="padding-left:10px;">Device Setup</span></div>
                        <div class="ul_list">

                            <ul>
                                <li id="B1"><div><div class="l_title"><a href="@Url.Action("QuickSetup","PMG")">Quick Setup</a></div></div></li>
                                <li id="B2"><div><div class="l_title"><a href="@Url.Action("Configuration","PMG")">Configuration</a></div></div></li>
                                <li id="B3"><div><div class="l_title"><a href="@Url.Action("Text","PMG")">Text</a></div></div></li>
                                <li id="B4"><div><div class="l_title"><a href="@Url.Action("Graphics","PMG")">Graphics</a></div></div></li>
                                <li id="B5"><div><div class="l_title"><a href="@Url.Action("Animation","PMG")">Animation</a></div></div></li>
                                <li id="B6"><div><div class="l_title"><a href="@Url.Action("ScheduledOperation","PMG")">Scheduled Operation</a></div></div></li>
                                <li id="B7"><div><div class="l_title"><a href="@Url.Action("Communication","PMG")">Communication</a></div></div></li>
                                <li id="B8"><div><div class="l_title"><a href="@Url.Action("Radar","PMG")">Radar</a></div></div></li>
                                <li id="B9"><div><div class="l_title"><a href="@Url.Action("GPIO","SetUp")">GPIO</a></div></div></li>
                                <li id="B10"><div><div class="l_title"><a href="@Url.Action("TraffocData","PMG")">Traffic Data</a></div></div></li>
                                <li id="B11"><div><div class="l_title"><a href="@Url.Action("About","PMG")">About</a></div></div></li>
                            </ul>

                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="title"><img src="@Url.Content("~/library/images/device.png")" alt="">Device Manager</div>

                        <div class="ul_list">
                            <ul>
                                <li>
                                    <div>
                                        <div class="l_title" onclick="DeviceLocation()">Device Location</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title" onclick="SystemMessage()">System Message</div>
                                    </div>
                                </li>


                                <li>
                                    <div>
                                        <div class="l_title" onclick="StatsLog()">Real Time Charts</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title" onclick="Report()">Data Log</div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="title"><img src="@Url.Content("~/library/images/Date_icon.png")" alt="">Data Analysis</div>
                        <div class="ul_list">
                            <ul>
                                <li>
                                    <div>
                                        <div class="l_title" onclick="HistoryData()">History Data</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title" onclick="TimeCount()">Time vs Count</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title" onclick="SpeedCount()">Speed vs Count</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title" onclick="Pie()">Enforcement Pie</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title" onclick="WeeklyCountTime()">Weekly Count vs Time</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title" onclick="EnforcementSchedule()">Enforcement Schedule</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title" onclick="CountSpeedPercentile()">Count vs Speed Percentile</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title" onclick="AverageSpeedTime()">Average Speed vs Count</div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>


            </ul>
        </div>
        <div class="container">
            <div class="slogan">
                <img src="@Url.Content("~/library/images/slogen_icon.png")" alt="">
            </div>
            <div class="link">
                <div class="user">
                    <div>
                        <img src="@Url.Content("~/library/images/user_icon.png")" alt="">
                        <span>Administration</span>
                    </div>
                    <div class="list">
                        <a href="@Url.Content("~/Site/Index")">Site</a>
                        <a href="@Url.Content("~/User/Index")">User List</a>
                        <a href="@Url.Content("~/Device/Index")">PMG List</a>
                    </div>
                </div>
                <div class="watch">
                    <div>
                        <img src="@Url.Content("~/library/images/nav_icon.png")" alt="">
                        <span>Choose a device</span>
                    </div>
                    <div class="list">
                        <ul class="MenuDeviceList"></ul>
                    </div>
                </div>
                <div class="exit">
                    <div onclick="Logout()">
                        <img src="@Url.Content("~/library/images/exit_icon.png")" alt="">
                        <span>Log out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="web-common-nav">
        <div class="web-common-nav-btn"></div>
        <div class="slogan">
            <img src="@Url.Content("~/library/images/slogen_icon.png")" alt="">
        </div>
    </div>
    <div class="web-common-nav-list">
        <div>
            <ul class="web-ul">
                <li>
                    <div>
                        <div class="title" onclick="HomePage()"><img src="@Url.Content("~/library/images/Site_icon.png")" alt="">Site Supervisor</div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="title">
                            <img src="@Url.Content("~/library/images/nav_icon.png")" alt="">
                            <span>Choose a device</span>
                        </div>
                        <div class="ul_list">
                            <ul class="MenuDeviceList">
                               
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="title"><img src="@Url.Content("~/library/images/setup.png")" alt=""><span>Device Setup</span></div>
                        <div class="ul_list">
                            <ul>
                                <li id="B1"><div><div class="l_title"><a href="@Url.Action("QuickSetup","PMG")">Quick Setup</a></div></div></li>
                                <li id="B2"><div><div class="l_title"><a href="@Url.Action("Configuration","PMG")">Configuration</a></div></div></li>
                                <li id="B3"><div><div class="l_title"><a href="@Url.Action("Text","PMG")">Text</a></div></div></li>
                                <li id="B4"><div><div class="l_title"><a href="@Url.Action("Graphics","PMG")">Graphics</a></div></div></li>
                                <li id="B5"><div><div class="l_title"><a href="@Url.Action("Animation","PMG")">Animation</a></div></div></li>
                                <li id="B6"><div><div class="l_title"><a href="@Url.Action("ScheduledOperation","PMG")">Scheduled Operation</a></div></div></li>
                                <li id="B7"><div><div class="l_title"><a href="@Url.Action("Communication","PMG")">Communication</a></div></div></li>
                                <li id="B8"><div><div class="l_title"><a href="@Url.Action("Radar","PMG")">Radar</a></div></div></li>
                                <li id="B9"><div><div class="l_title"><a href="@Url.Action("GPIO","SetUp")">GPIO</a></div></div></li>
                                <li id="B10"><div><div class="l_title"><a href="@Url.Action("TraffocData","PMG")">Traffic Data</a></div></div></li>
                                <li id="B11"><div><div class="l_title"><a href="@Url.Action("About","PMG")">About</a></div></div></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="title"><img src="@Url.Content("~/library/images/device.png")" alt="">Device Manager</div>
                        <div class="ul_list">
                            <ul>
                                <li>
                                    <div>
                                        <div class="l_title" onclick="HomePage()">Device Location</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title">System Message</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title">Calendar</div>
                                    </div>
                                </li>

                                <li>
                                    <div>
                                        <div class="l_title">Real Time Charts</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title">Data Log</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="title"><img src="@Url.Content("~/library/images/Date_icon.png")" alt="">Data Analysis</div>
                        <div class="ul_list">
                            <ul>
                                <li>
                                    <div>
                                        <div class="l_title">History Data</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title">Time vs Count</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title">Speed vs Count</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title">Enforcement Pie</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title">Weekly Count vs Time</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title">Enforcement Schedule</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title">Count vs Speed Percentile</div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="l_title">Average Speed vs Count</div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="title">
                            <img src="@Url.Content("~/library/images/user_icon.png")" alt="">
                            <span>Administration</span>
                        </div>
                        <div class="ul_list">
                            <ul>

                                <li><a href="@Url.Content("~/Site/Index")">Site</a></li>
                                <li><a href="@Url.Content("~/User/Index")">User List</a></li>
                                <li><a href="@Url.Content("~/Device/Index")">PMG List</a></li>
                            </ul>
                        </div>
                    </div>
                </li>              
                <li>
                    <div class="">
                        <div class="title">
                            <img src="@Url.Content("~/library/images/exit_icon.png")" alt="">
                            <span>Log out</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="common-content">
        <div class="container " style="position: relative; max-width: 1300px;">
            <div id="left_layout">
                <div class="common-address">
                    @RenderSection("crumbs", required: false)

                    <span class="current_selected" style="display:none;">Currently seleted PMG: <label class="dev" style="font-weight: bold;"></label></span>
                </div>

                @RenderBody()

            </div>
        </div>
    </div>
    <input type="hidden" value="@ViewBag.CurrentPageCode" id="hidCurrentCode" />
    <div class="footer"></div>

    @RenderSection("scripts", required: false)

    <script>
        function Logout() {
            window.location.href = "@Url.Content("~/Login/LoginOut")";
        }


        function initMenu() {
            var code = $("#hidCurrentCode").val();
           
            if (is_mobile()) {
                $(".web-common-nav-list .web-ul li .l_title").removeClass("l_title_active");
                $("#" + code + " .l_title").addClass("l_title_active");
            } else {
                $(".web-common-nav-list .web-ul li").removeClass("l_title_active");
                $("#" + code).addClass("l_title_active");
            }
           
        }

        $(function () {
            initDevice();
            initMenu();

        })
    </script>

</body>

</html>
