
@{
    //Layout = "~/Views/Shared/main.cshtml";
    ViewBag.Title = "Real Time Charts";
}
@section crumbs{
    <div>
        <span onclick="HomePage()" style="cursor:pointer;">Home</span>
        <span>/</span>
        <span>Device Mananger</span>
        <span>/</span>
        <span>Real Time Charts</span>
    </div>
}
@section head{
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .margin0-set {
            margin-left: 0px;
            margin-right: 0px;
        }

        /*#Refresh, #Reset {
            color: #FFFFFF;
            background: #920813;
            border-radius: 0px;
        }*/

        input.form-control, select.form-control {
            border-radius: 0px;
        }
    </style>
    <script type="text/javascript" src="~/Scripts/loader.js"></script>
}
<input type="hidden" id="XValue" value="@ViewBag.XValue" />
<input type="hidden" id="YValue" value="@ViewBag.YValue" />
<input type="hidden" id="PId" value="@ViewBag.PId" />
<input type="hidden" id="PmdId" value="@ViewBag.PmdId" />
<div id="main-area">

    <div id="main-area-content" style="" class="statsLog_page">
        <div id="page-wrapper">
            <div class="row margin0-set" id="map-nav">
                <div class="col-sm-9">
                    <div class="top" style="width:100%; margin-top:10px;margin-bottom:10px;">
                        <table>
                            <tr>
                                <td class="datetd">
                                    Start Time:
                                </td>
                                <td style="padding:5px 10px;" class="datetd">
                                    <input class="form-control usercontrol" type="text" id="startDate" name="startDate" style="width:140px;" value="@ViewBag.StartDate" />
                                </td>
                                <td style="padding:5px 10px;" class="datetd">
                                    End Time:
                                </td>
                                <td style="padding:5px 10px;" class="datetd">
                                    <input class="form-control usercontrol" type="text" id="endDate" name="endDate" style="width:140px;" value="@ViewBag.EndDate" />
                                </td>
                                <td style="padding:5px 10px;" class="datetd">
                                    <button href="javascript:void(0);" onclick="doRefresh()" class="button" id="Refresh">Refresh</button> &nbsp;
                                    <button href="javascript:void(0);" onclick="doReset()" class="button" id="Reset">Reset</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row" id="chart_div"></div>
                </div>
                <div id="triffic_data" class="col-sm-3 show">

                    <div class="table-responsive">
                        <table id="users" class="table table-bordered table-hover table-condensed" style="margin-top: 15px;">
                            <tr style="color:white;">
                                <td style="background-color:#920813;" class="text-center">Vehicle Total</td>
                            </tr>
                            <tr>
                                <td class="text-left">Total: <a id="v-total" href="javascript:void(0);">0</a></td>
                            </tr>
                            <tr>
                                <td class="text-left">Closing: <a id="c-count" href="javascript:void(0);">0</a></td>
                            </tr>
                            <tr>
                                <td class="text-left">AWAY: <a id="a-count" href="javascript:void(0);"></a>0</td>
                            </tr>
                            <tr>
                                <td class="text-left">Average Total: <a id="t-count" href="javascript:void(0);">0</a><br />( Average count/per hour )</td>
                            </tr>

                        </table>
                        <table id="users" class="table table-bordered table-hover table-condensed">
                            <tr style="color:white;">
                                <td style="background-color:#920813;" class="text-center">Vehicle Speeds</td>
                            </tr>
                            <tr>
                                <td class="text-left">Average: <a id="s-ave" href="javascript:void(0);"></a></td>
                            </tr>
                            <tr>
                                <td class="text-left">Last: <a id="s-last" href="javascript:void(0);"></a></td>
                            </tr>
                            <tr>
                                <td class="text-left">High Alam: <a id="s-high" href="javascript:void(0);"></a></td>
                            </tr>
                            <tr>
                                <td class="text-left">Low Alam: <a id="s-low" href="javascript:void(0);"></a></td>
                            </tr>

                        </table>
                        <table id="users" class="table table-bordered table-hover table-condensed">
                            <tr style="color:white;">
                                <td style="background-color:#920813;" class="text-center">Last Update DateTime</td>
                            </tr>
                            <tr>
                                <td class="text-left"><a id="l-update" href=""></a></td>
                            </tr>


                        </table>
                    </div>



                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

@section scripts{
    <script src="~/Scripts/initMenu.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script type="text/javascript" src='~/Scripts/publics.js'></script>
    <script src="~/Scripts/comonDatetime.js"></script>
    <script>
        $(function () {
            //initDeviceBackground();
            initSession();
        });
        function initSession() {
            var strPmd = $("#XValue").val() + "," + $("#YValue").val() + "," + $("#PId").val() + "," + $("#PmdId").val();
            SetSession(strPmd);
        }
    </script>
    <script type="text/javascript">
        $(function () {
            setTimeout(function () {
                doRefresh();
            },
                1000);
            setInterval(function () { doRefresh(); }, 60 * 1000);
        });
        google.charts.load('current', { packages: ['corechart', 'bar'] });
        function drawChart(arr) {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Speed');
            data.addColumn('number', 'Closing');
            data.addColumn('number', 'Away');

            data.addRows(arr);

            var options = {
                title: 'Traffic Report',
                titleTextStyle: {
                    color: 'gray', // any HTML string color ('red', '#cc00cc')
                    fontSize: 25,
                    bold: true,
                    textPosition: { "in": 100 }
                },

                backgroundColor: '#d8e6a9',
                is3D: true,
                height: 450,
                width: 740,
                colors: ['red', '#33ac71'],
                hAxis: {
                    title: 'Speed (MPH)'
                },
                vAxis: {
                    title: 'Count'
                },
                legend: { position: 'top', maxLines: 3 },
                chartArea: { top: 80, width: "80%" }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
            $("#chart_div svg text").first().attr({ "x": "250" });
        }

        function fillReportValue(data) {

            $("#v-total").text(data.TotalCount);
            $("#c-count").text(data.Closing);
            $("#a-count").text(data.Away);
            $("#t-count").text(data.AverageTotal);

            $("#s-ave").text(data.Average);
            $("#s-last").text(data.Last);
            $("#s-high").text(data.HighAlam);
            $("#s-low").text(data.LowAlam);
            $("#l-update").text(data.LastDate);

            $("#triffic_data").removeClass("hide");
        }

        function reset() {
            $("#v-total").text("");
            $("#c-count").text("");
            $("#a-count").text("");
            $("#t-count").text("");
            $("#s-ave").text("");
            $("#s-last").text("");
            $("#s-high").text("");
            $("#s-low").text("");
            $("#l-update").text("");

        }

        function doRefresh() {

            reloadData();
        }

        function doReset() {
            $.getJSON("/Home/GetCurUserTimeZoneTimeNew", null, function (data) {
                if (data != null) {
                    $("#startDate").val(data.start);
                    $("#endDate").val(data.end);
                }
                reloadData();
            });
        }

        function reloadData() {
            var _xval = $("#XValue").val();
            var _yval = $("#YValue").val();
            var _did = $("#PId").val();
            var _pid = $("#PmdId").val();
            initialize(_xval, _yval, _did, _pid);
        }

        function initialize(x, y, dev, pmdid) {
            drawChart([[0, 0, 0]]);
            $("#XValue").val(x);
            $("#YValue").val(y);
            $("#PId").val(dev);
            $("#PmdId").val(pmdid);
            var strPmd = $("#XValue").val() + "," + $("#YValue").val() + "," + $("#PId").val() + "," + $("#PmdId").val();
            $.getJSON("/Home/SetPmdSession?strPmd=" + strPmd, null, function (data) {
            });

            reset();
            var PMDID = pmdid;
            $.getJSON("/StatsLog/DeviceCharts?id=" + PMDID + "&startDate=" + $("#startDate").val() + "&endDate=" + $("#endDate").val(), null, function (json) {
                if (json.Success) {
                    drawChart(json.ViewData.ChartData);
                    fillReportValue(json.ViewData.Report);
                }
            });
        }
    </script>

}