
@{
    //Layout = "~/Views/Shared/main.cshtml";
    ViewBag.Title = "Vehicle Volume VS Time";
}
@section crumbs{
    <div>
        <span onclick="HomePage()" style="cursor:pointer;">Home</span>
        <span>/</span>
        <span>Date Analysis</span>
        <span>/</span>
        <span>Average Speed vs Count</span>
    </div>
}
@section head{

    <style>
        .margin0-set {
            margin-left: 0px;
            margin-right: 0px;
        }

        /*#Refresh, #Reset {
            color: #FFFFFF;
            background: #920813;
            border-radius: 0px;
        }*/

        input.form-control, select.form-control {
            border-radius: 0px;
        }

        #speedtable .centertxt {
            text-align: center;
        }
    </style>
    <script src="~/Scripts/comonDatetime.js"></script>
    <script type="text/javascript" src="~/Scripts/highcharts.js"></script>
    <script type="text/javascript" src="~/Scripts/no-data-to-display.js"></script>
}
<input type="hidden" id="XValue" value="@ViewBag.XValue" />
<input type="hidden" id="YValue" value="@ViewBag.YValue" />
<input type="hidden" id="PId" value="@ViewBag.PId" />
<input type="hidden" id="PmdId" value="@ViewBag.PmdId" />
<div id="main-area">

    <div id="main-area-content" style="width:900px; margin: 0 auto;">
        <div id="page" class="show-content">
            <div id="page-wrapper">
                <div class="row" style="padding: 0px 0px 0px 20%;margin-top:10px;margin-bottom:10px;">
                    <table>
                        <tr>
                            <td class="datetd">
                                Start Time:
                            </td>
                            <td style="padding:5px 10px;" class="datetd">
                                <input class="form-control usercontrol" type="text" id="startDate" name="startDate" style="width:140px;" value="@ViewBag.StartDate" />
                            </td>
                            <td style="padding:5px 10px;" class="datetd">
                                End Time:
                            </td>
                            <td style="padding:5px 10px;" class="datetd">
                                <input class="form-control usercontrol" type="text" id="endDate" name="endDate" style="width:140px;" value="@ViewBag.EndDate" />
                            </td>
                            <td style="padding:5px 10px;" class="datetd">
                                <button href="javascript:void(0);" onclick="reloadData()" class="button" id="Refresh">Refresh</button> &nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row" id="map-nav">
                    <div class="row" id="container" style="width:100%;height:430px;margin-bottom:20px;padding-left:30px;margin-top: 2px;"></div>

                </div>

            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

@section scripts{
    <script src="~/Scripts/Common.js"></script>
    <script type="text/javascript" src='~/Scripts/publics.js'></script>
    <script>
        $(function () {
            //initDataBackground();
            initSession();
            reloadData();
        });
        function initSession() {
            var strPmd = $("#XValue").val() + "," + $("#YValue").val() + "," + $("#PId").val() + "," + $("#PmdId").val();
            SetSession(strPmd);
        }
    </script>
    <script>
        // Loader animation
        var load;

        function reloadData() {
            $(".highcharts-container").remove();
            load = layer.load(3);
            var _xval = $("#XValue").val();
            var _yval = $("#YValue").val();
            var _did = $("#PId").val();
            var _pid = $("#PmdId").val();
            initialize(_xval, _yval, _did, _pid);
        }

        function initialize(x, y, dev, pmdid) {
            $("#XValue").val(x);
            $("#YValue").val(y);
            $("#PId").val(dev);
            $("#PmdId").val(pmdid);
            initSession();
            $.post("/Report/AverageVSPercentitleSpeed", { id: pmdid, startDate: $("#startDate").val(), endDate: $("#endDate").val() }, function (result) {

                // Close loadding Animation
                layer.close(load);

                if (result.ResultCode == 200) {
                    var iData = new Array();
                    iData.xData = result.xAxisData;
                    iData.yData = result.series;
                    initChart(iData);
                }
            }, "json");
        }
    </script>
    <script language="JavaScript">
        function initChart(iData) {
            $('#container').highcharts({
                chart: {
                    type: 'scatter',
                    zoomType: 'xy',
                    backgroundColor: '#d8e6a9',
                    options3d: {
                        enabled: false,// Enable 3D Function for draw chart. Default value:false
                    }
                },
                title: {
                    text: "Average Speed vs Count",
                    align: 'center',
                    y: 30,
                    style: { color: "gray", fontSize: "18", fontWeight: "bold" }
                },
                colors: ["#bf1933", "#2b52bb"],
                xAxis: {
                    title: {
                        text: 'Time'
                    },
                    tickmarkPlacement: 'on',
                    startOnTick: true,
                    endOnTick: true,
                    showLastLabel: true,
                    gridLineWidth: 1,
                    categories: iData.xData,
                },
                yAxis: {
                    title: {
                        text: 'Average & Perenttile Speed'
                    }
                },
                legend: { // Control legend display position
                    layout: 'horizontal',//vertical
                    align: 'left',
                    verticalAlign: 'top',
                    y: 30,
                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                hover: {
                                    enabled: true,
                                    lineColor: 'rgb(100,100,100)'
                                }
                            }
                        },
                        states: {
                            hover: {
                                marker: {
                                    enabled: false
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: 'Time:{point.x}' + ', ' + 'Speed:{point.y} '
                        }
                    }
                },
                colors: ['#FF0000', '#008000'],
                series: iData.yData,
                noData: {
                    // Custom positioning/aligning options
                    position: {    // Position the data-free label relative to the drawing area. Deafult value:[object Object].
                        //align: 'right',
                        //verticalAlign: 'bottom'
                    },
                    // Custom svg attributes
                    attr: {     // Extra SVG property in no data tags
                        //'stroke-width': 1,
                        //stroke: '#cccccc'
                    },
                    // Custom css
                    style: {    // CSS styles for dataless tags. Deafult value:[object Object].
                        //fontWeight: 'bold',
                        //fontSize: '15px',
                        //color: '#202030'
                    }
                }
            });
        }
    </script>

}







