
@{
    //Layout = "~/Views/Shared/main.cshtml";
    ViewBag.Title = "WeeklyCountTime";
}
@section crumbs{
    <div>
        <span onclick="HomePage()" style="cursor:pointer;">Home</span>
        <span>/</span>
        <span>Date Analysis</span>
        <span>/</span>
        <span>Weekly Count vs Time</span>
    </div>
}
@section head{

    <style>
        .margin0-set {
            margin-left: 0px;
            margin-right: 0px;
        }

        input.form-control, select.form-control {
            border-radius: 0px;
        }

        #speedtable .centertxt {
            text-align: center;
        }
    </style>
    <script src="~/Scripts/comonDatetime.js"></script>
    <script type="text/javascript" src="~/Scripts/highcharts.js"></script>
    <script type="text/javascript" src="~/Scripts/no-data-to-display.js"></script>
}
<input type="hidden" id="XValue" value="@ViewBag.XValue" />
<input type="hidden" id="YValue" value="@ViewBag.YValue" />
<input type="hidden" id="PId" value="@ViewBag.PId" />
<input type="hidden" id="PmdId" value="@ViewBag.PmdId" />
<div id="main-area">

    <div id="main-area-content" style="width:900px; margin: 0 auto;">
        <div id="page-wrapper" style="margin-top:1px;">
            <div class="row margin0-set" style="width:100%;margin: 10px 16%;">
                <table>
                    <tr>
                        <td class="datetd">
                            Start Time:
                        </td>
                        <td style="padding:5px 10px;" class="datetd">
                            <input class="form-control usercontrol" type="text" id="startDate" name="startDate" style="width:140px;" value="@ViewBag.StartDate" />
                        </td>
                        <td style="padding:5px 10px;" class="datetd">
                            End Time:
                        </td>
                        <td style="padding:5px 10px;" class="datetd">
                            <input class="form-control usercontrol" type="text" id="endDate" name="endDate" style="width:140px;" value="@ViewBag.EndDate" />
                        </td>
                        <td style="padding:5px 10px;" class="datetd">
                            <button href="javascript:void(0);" onclick="reloadData()" class="button" id="Refresh">Refresh</button> &nbsp;
                        </td>
                    </tr>
                </table>
            </div>
            <div id="map-nav">
                <div class="row margin0-set" id="container" style="width:98%;height:420px;"></div>
            </div>



        </div>
    </div>

    <div class="clearfix"></div>
</div>

@section scripts{
    <script src="~/Scripts/Common.js"></script>
    <script type="text/javascript" src='~/Scripts/publics.js'></script>
    <script>
        $(function () {
            //initDataBackground();
            initSession();
            reloadData();
        });
        function initSession() {
            var strPmd = $("#XValue").val() + "," + $("#YValue").val() + "," + $("#PId").val() + "," + $("#PmdId").val();
            SetSession(strPmd);
        }
    </script>
    <script>
        // Loader animation
        var load;

        function reloadData() {
            $(".highcharts-container").remove();
            load = layer.load(3);
            var _xval = $("#XValue").val();
            var _yval = $("#YValue").val();
            var _did = $("#PId").val();
            var _pid = $("#PmdId").val();
            initSession();
            initialize(_xval, _yval, _did, _pid);
        }
        function initialize(x, y, dev, pmdid) {
            $("#XValue").val(x);
            $("#YValue").val(y);
            $("#PId").val(dev);
            $("#PmdId").val(pmdid);
            var _pid = $("#PmdId").val();

            var PMDID = pmdid;

            $.post("/Report/GetWeeklyCountTime", { id: PMDID, startDate: $("#startDate").val(), endDate: $("#endDate").val() }, function (result) {

                // Close loadding Animation
                layer.close(load);
                if (result != null) {
                    var iData = new Array();
                    iData.xData = result.xAxisData;
                    iData.yData = result.series;
                    initChart(iData);
                }

            });
        }
    </script>
    <script language="JavaScript">
        function initChart(iData) {
            $('#container').highcharts({
                chart: {
                    type: 'line',
                    marginRight: 0,
                    marginBottom: 25,
                    backgroundColor: '#d8e6a9',
                    options3d: {
                        enabled: true,//enable 3d function by draw chart. default value:false
                    }
                },
                title: {
                    y: 30,
                    text: "WeeklyCount vs Speed",
                    align: 'center',
                    style: { color: "gray", fontSize: "18", fontWeight: "bold" }
                },
                xAxis: {
                    type: 'datetime',
                    tickmarkPlacement: 'on',
                    categories: iData.xData,
                    gridLineWidth: 1, // Vertical grid line width
                    title: {
                        text: 'Time'
                    }
                },
                yAxis: {
                    title: {
                        text: 'TotalVehicle Count'
                    }
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                            'Count:' + this.point.y;
                    }
                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                legend: { // control legend display postion
                    layout: 'horizontal',//vertical
                    align: 'left',
                    verticalAlign: 'top',
                    y: 30,
                },
                series: iData.yData,
                noData: {
                    // Custom positioning/aligning options
                    position: {    // Position the data-free label relative to the drawing area. Deafult value:[object Object].
                        //align: 'right',
                        //verticalAlign: 'bottom'
                    },
                    // Custom svg attributes
                    attr: {     //Extra SVG attributes in no data tags
                        //'stroke-width': 1,
                        //stroke: '#cccccc'
                    },
                    // Custom css
                    style: {    // CSS styles for dataless tags. Deafult value:[object Object].
                        //fontWeight: 'bold',
                        //fontSize: '15px',
                        //color: '#202030'
                    }
                }
            });
        }
    </script>

}
