@{
    ViewBag.Title = "Animation";
}
@section crumbs{
    <div>
        <span onclick="HomePage()" style="cursor:pointer;">Home</span>
        <span>/</span>
        <span>Device Setup</span>
        <span>/</span>
        <span>Animation</span>
    </div>

}
@section head{

    <link href="~/css/animation.css" rel="stylesheet" />
}
<div id="mainContent" class="layui-form Animation">
    <div class="layui-fuild">
        <div class="layui-row textOptions">
            <div class="select">
                <div class="title">
                    Animation Pages
                </div>
                <div class="select-box">
                    <select class="multiple" multiple="multiple" id="AnimationPages"></select>
                </div>
            </div>
            <div class="selected">
                <div class="info">
                    Page Display Interval
                    <div class="layui-input-inline">
                        <input type="number" class="form-control-number-points" id="FramesPerCell" name="points" value="15" min="0" max="100" />
                        <div class="input-number-button">
                            <div class="add"></div>
                            <div class="reduce"></div>
                        </div>
                    </div>  (1/20 Second)
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">Panel Size</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <select class="form-control" id="pmgInch">
                                <option value="12">12 Inch</option>
                                <option value="15">15 Inch</option>
                                <option value="18">18 Inch</option>
                            </select>
                            <div class="select-button"></div>
                        </div>
                    </div>
                </div>
                <div class="selectBox">
                    <div class="selected-info selected-info1">
                        <div class="title">
                            Animation Pages
                        </div>
                        <div class="layui-form-item">

                            <div class="text-area">
                                <div class="box">
                                    <ul class="picBox" id="AnimationImage"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="options">
                            <input type="button" class="button" value="Play" onclick="Play()" />
                            <input type="button" class="button" value="Stop" onclick="Stop()" />
                            @*<span><img src="~/library/images/top_icon.png" alt=""></span>
                                <span><img src="~/library/images/bottom_icon.png" alt=""></span>
                                <span><img src="~/library/images/left_icon.png" alt=""></span>
                                <span><img src="~/library/images/right_icon.png" alt=""></span>*@
                        </div>
                    </div>
                    <div class="selected-info">
                        <div class="title">
                            Animation Pages
                        </div>
                        <div class="select-box">
                            <select class="multiple" multiple="multiple" id="selectPageList"></select>
                        </div>
                        <div class="options">
                            <span><img src="~/library/images/top_icon.png" alt="" onclick="MoveUpSelectPage()"></span>
                            <span><img src="~/library/images/bottom_icon.png" alt="" onclick="MoveDownSelectPage()"></span>
                            <span><img src="~/library/images/close_icon.png" alt="" onclick="DeleteSelectPage()"></span>
                        </div>
                    </div>
                    <div class="add_btn">
                        <span><img src="~/library/images/left_icon.png" alt="" onclick="LeftMove()"></span>
                    </div>
                    <div class="selected-info">
                        <div class="title">
                            Graphic Pages
                        </div>
                        <div class="select-box">
                            <select class="multiple" multiple="multiple" id="pageList"></select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="text_page_button" style="text-align: center; margin: 20px auto;">
        <input type="button" class="button width80" value="New" onclick="createPage()" />
        <input type="button" class="button width80" value="Save" onclick="savePage()" />
        <input type="button" class="button width80" value="Delete" onclick="deletePage()" />
    </div>

    <input type="hidden" value="" id="hidPageName" />
</div>
<script>
    var IntervalTime = 500;
    function rollOne() {
        $(".picBox").animate({ left: "-260px" }, IntervalTime, "linear", function () {
            $(this).css({ left: "0px" });
            $(this).children("li").first().remove().clone(true).appendTo(".picBox");
        });
    }
    var startRollOne = null;//setInterval(rollOne, IntervalTime);

    function Play() {
        clearInterval(startRollOne);
        startRollOne = setInterval(rollOne, 200);
    }

    function Stop() {
        clearInterval(startRollOne);
    }

    function LeftMove() {
        Stop();
        $("#selectPageList").append($("#pageList option:selected").clone());
        var selectValue = $("#pageList option:selected").val();
        GetGraphicPageInfo(selectValue);
    }

    function GetGraphicPageInfo(pageName) {
        $ajaxFunc("@Url.Content("~/PMG/GetGraphicPageByName")", { "name": pageName, "pageType": graphicsPageType }, function (res) {
            console.log("Graphic:", res)
            if (res && !res.errorMsg) {
                var html = '<li><img src="' + res.ImageUrl + '" alt="" class="oneImage" /></li>';
                $("#AnimationImage").append(html)
            }
        });
    }


    function DeleteSelectPage() {
        var index = $("#selectPageList option:selected");
        if (!index)
            return false;

        var $li = $("#AnimationImage").find('li').eq(index.index());
        $li.remove();

        $("#selectPageList option:selected").remove();

    }

    function MoveUpSelectPage() {
        var index = $("#selectPageList option:selected");
        if (index.index() != 0) {
            var $li = $("#AnimationImage").find('li').eq(index.index());
            $li.prev().before($li);

            index.prev().before(index);

        }
    }


    function MoveDownSelectPage() {
        var index = $("#selectPageList option:selected");
        if (index.index() != length - 1) {
            var $li = $("#AnimationImage").find('li').eq(index.index());
            $li.next().after($li);

            index.next().after(index);

        }
    }


    var graphicsPageType = 1;
    var animationsPageType = 2;


    $("#pmgInch").change(function () {
        resetDefault()
        ChangeDisplaySize();
    })

    function resetDefault() {
        $("#pageName").val('')
        $("#selectPageList").html('')
    }

    function selectedPageName() {
        var value = $("#AnimationPages").val();
        if (value && value.length > 0)
            return value[0];

        return "";
    }

    function deletePage() {
        var pageName = selectedPageName();
        if (!pageName) {
            LayerAlert("Please select an animation page");
            return false;
        }

        layer.confirm("Are you sure to delete this page?", { title: false, closeBtn: 0, offset: 'auto' }, function (index) {
            layer.close(index);
            $ajaxFunc("@Url.Content("~/PMG/DeletePage")", { "name": pageName, "pageType": animationsPageType }, function (res) {
                if (res.code == 0) {
                    LayerAlert("Delete successfully");
                    resetDefault();
                    GetAnimationsPage();
                } else {
                    LayerAlert(res.msg);
                }
            });
        });
    }

    function createPage() {
        var displayType = $("#pmgInch").val();
        layer.prompt({ title: 'Enter Text Page Name', btn: ["Save", "Cancel"] }, function (val, index) {
            $ajaxFunc("@Url.Content("~/PMG/CreateNewPage")", { "name": val, "displayType": displayType, "pageType": animationsPageType }, function (res) {
                if (res.code == 0) {
                    layer.close(index);
                    $("#hidPageName").val(val)
                    resetDefault();
                    GetAnimationsPage();
                } else {
                    LayerAlert(res.msg);
                }
            });

        });
    }

    function ChangeDisplaySize() {
        $.ajax({
            type: "POST",
            url: "@Url.Content("~/PMG/GetPageList")",
            data: { "displaySize": parseInt($("#pmgInch").val()), "pageType": graphicsPageType },
            success: function (res) {
                if (res && res.length > 0) {
                    var _html = "";
                    for (var i = 0; i < res.length; i++) {
                        var item = res[i];
                        _html += '<option value="' + item.value + '">' + item.Text + '</option>';
                    }
                    $("#pageList").html(_html);
                } else {
                    $("#pageList").html("")
                }
            }
        })
    }


    function GetAnimationsPage() {
        var selectedValue = $("#hidPageName").val()
        if (!selectedValue)
            selectedValue = "";
        $.ajax({
            type: "POST",
            url: "@Url.Content("~/PMG/GetPageList")",
            data: { "displaySize": parseInt($("#pmgInch").val()), "pageType": animationsPageType },
            success: function (res) {
                if (res && res.length > 0) {
                    var _html = "";
                    for (var i = 0; i < res.length; i++) {
                        var item = res[i];
                        if (selectedValue == item.Text) {
                            _html += '<option value="' + item.value + '" selected="selected">' + item.Text + '</option>';
                        } else {
                            _html += '<option value="' + item.value + '">' + item.Text + '</option>';
                        }

                    }
                    $("#AnimationPages").html(_html)
                    if (selectedValue) {
                        getPageInfo()
                    }
                } else {
                    $("#AnimationPages").html("")
                }
            }
        })
    }

    function savePage() {
        var pageName = selectedPageName();
        if (!pageName) {
            LayerAlert("Please select an animation page");
            return false;
        }

        var DisplayType = parseInt($("#pmgInch").val());
        var FramesPerCell = parseInt($("#FramesPerCell").val());
        if (FramesPerCell < 0) {
            LayerAlert("Page Display Interval can't be less than 0");
            return false;
        }
        if (FramesPerCell > 200) {
            LayerAlert("Page Display Interval can't be more than 200");
            return false;
        }

        var realvalues = [];
        $('#selectPageList option').each(function (i) {
            realvalues[i] = $(this).val();
        });
        if (!realvalues) {
            LayerAlert("Please move some Graphic Pages to Animation Pages");
            return false;
        }

        var selectedPages = realvalues.join(',');

        var jsonData = {
            "pageName": pageName, "displayType": DisplayType, "framesPerCell": FramesPerCell, "selectedPages": selectedPages
        };
        $ajaxFunc("@Url.Content("~/PMG/SaveAnimationOptions")", jsonData, function (res) {
            if (res.code == 0) {
                LayerAlert("Save successfully");
            } else {
                LayerAlert(res.msg);
            }

        });


    }

    $("#AnimationPages").change(function () {
        getPageInfo();
    })

    function getPageInfo() {
        var pageName = selectedPageName();
        if (!pageName) {
            return false;
        }
        $ajaxFunc("@Url.Content("~/PMG/GetAnimationPageByName")", { "name": pageName, "pageType": animationsPageType }, function (res) {
            console.log("page:", res)
            if (res && res.pageFile && res.graphicList) {
                $("#hidPageName").val(res.pageFile.pageName)
                $("#FramesPerCell").val(res.pageFile.framesPerCell);
                var imgHtml = "";
                var selectedHtml = "";
                for (var i = 0; i < res.graphicList.length; i++) {
                    var item = res.graphicList[i];
                    selectedHtml += '<option value="' + item.value + '">' + item.Text + '</option>';
                    imgHtml += '<li><img src="' + item.ImageUrl + '" alt="" class="oneImage" /></li>';
                   
                }
                $("#selectPageList").html(selectedHtml)
                $("#AnimationImage").html(imgHtml)
            } else {
                resetDefault()
            }
        });
    }

    $(function () {
        ChangeDisplaySize();
        GetAnimationsPage()
    })
</script>