@model List<FriscoDev.Application.ViewModels.GPIOViewModel>
@{
    ViewBag.Title = "GPIO";
}

@section crumbs{

    <div>
        <span onclick="HomePage()" style="cursor:pointer;">Home</span>
        <span>/</span>
        <span>Device Setup</span>
        <span>/</span>
        <span>GPIO</span>
    </div>
}

@section head{
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .margin0-set {
            margin-top: 10px;
            margin-left: 5px;
            margin-right: 0px;
        }

        #doSave, #doCancel {
            color: #FFFFFF;
            background: #920813;
            border-radius: 0px;
        }
    </style>
}

<div class="row margin0-set">

    <div class="panel panel-default" style="background-color:#EEEEEE;">
        <form id="myForm">

            <table id="configTable" data-paging="true" class="blue-background table table-bordered table-hover table-condensed" data-page-size="15" style="font-size:12px;">
                <thead>
                    <tr style="background-color:#920813;color:white;">
                        <th class="SetupComment" style="width:3%"></th>
                        <th class="SetupComment" style="width:0.5%">Type</th>
                        <th class="SetupComment" style="width:0.2%">Enable</th>
                        <th class="SetupComment" style="width:5%">Active State</th>
                        <th class="SetupComment" style="width:6%">Duration (seconds)</th>
                        <th class="SetupComment" style="width:7%">Display</th>
                        <th class="SetupComment" style="width:7%">Page</th>
                        <th class="SetupComment" style="width:8%">Action</th>
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                    @if (Model != null && Model.Count > 0)
                    {

                        foreach (var item in Model)
                        {
                            <tr class="data">
                                <td style="vertical-align:middle;">
                                    Port @item.portNumber
                                    <input type="hidden" value="@item.portNumber" name="PortNumber" />
                                </td>
                                <td style="vertical-align:middle;">
                                    @item.PortType
                                    <input type="hidden" value="@item.PortType" name="PortType" />
                                </td>
                                @if (item.PortType == "Input" || item.PortType == "Output")
                                {
                                    string iDisabled = "";
                                    if (!item.Enabled)
                                    {
                                        iDisabled = "disabled";
                                    }
                                    <td>
                                        <input type="checkbox" id="t_Enable_@item.portNumber" name="Enabled" class="t_Enable" Tag="@item.portNumber" style="margin-left:23px;margin-top:12px;" @(item.Enabled ? "checked" : "")>
                                    </td>
                                    <td>
                                        @if (item.PortType == "Input")
                                        {
                                            <select class="form-control" id="t_ActiveState_@item.portNumber" name="ActiveState" @iDisabled>
                                                <option value="0">Low</option>
                                                <option value="1">High</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select class="form-control" id="t_ActiveState_@item.portNumber" name="ActiveState" @iDisabled>
                                                <option value="0">Open</option>
                                                <option value="1">Closed</option>
                                            </select>
                                        }
                                        <script>
                                            selected('t_ActiveState_@item.portNumber', '@item.ActiveState');
                                        </script>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control usercontrol" @iDisabled id="t_Duration_@item.portNumber" name="Duration" value="@item.Duration" min="0" max="100" maxlength="4" />
                                    </td>

                                    if (item.PortType == "Input")
                                    {
                                        <td>
                                            <select class="form-control usercontrol" id="t_Display_@item.portNumber" name="DisplayType" @iDisabled onclick="ChangeSelectedDisplay(this, 't_File_@item.portNumber')">
                                                <option value="0">Display None</option>
                                                <option value="1">Display Speed</option>
                                                <option value="2">Display Text</option>
                                                <option value="3">Display Graphics</option>
                                                <option value="4">Display Animation</option>
                                                <option value="5">Display Time</option>
                                                <option value="6">Display Temperature</option>
                                                <option value="7">Display Composite</option>
                                            </select>
                                            <script>
                                                selected('t_Display_@item.portNumber', '@item.DisplayType');
                                            </script>
                                        </td>
                                        <td>
                                            <select class="form-control usercontrol" name="PageName" id="t_File_@item.portNumber" @iDisabled>
                                                @if (item.PageList != null && item.PageList.Count > 0)
                                                {
                                                    foreach (var page in item.PageList)
                                                    {
                                                        <option value="@page.value">@page.Text</option>
                                                    }

                                                }
                                            </select>
                                            <script>
                                                selected('t_File_@item.portNumber', '@item.PageName');
                                            </script>
                                        </td>
                                        <td>
                                            <select class="form-control usercontrol" name="AlertAction" id="t_Action_@item.portNumber" @iDisabled>
                                                <option value="0">No Alert</option>
                                                <option value="1">Flash Display</option>
                                                <option value="2">Strobes</option>
                                                <option value="3">Flash + Strobes</option>
                                                <option value="4">Camera Trigger</option>
                                                <option value="5">GPIO Port 1</option>
                                                <option value="6">GPIO Port 2</option>
                                                <option value="7">GPIO Port 3</option>
                                                <option value="8">GPIO Port 4</option>
                                            </select>
                                            <script>
                                                selected('t_Action_@item.portNumber', '@item.AlertAction');
                                            </script>
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                }

                            </tr>
                        }
                    }

                </tbody>
            </table>

        </form>
    </div>

    <div style="text-align: center; margin: 50px auto;">
        <input type="button" class="button width80" value="Save To PMG" onclick="submit()" />
    </div>
    <input type="hidden" value="@ViewBag.deviceSize" id="pmgInch" />
</div>
<script>
    function submit() {
        var pmgid = $("#hidSelectCurrentPMGID").val();
        if (!pmgid) {
            LayerAlert("Please select a device");
            return false;
        }
        var result = [];
        $('#myForm table tr.data').each(function () {
            var obj = {};
            $(this).find("td").each(function () {
                if ($(this).find("input").attr("type") == "checkbox") {
                    obj[$(this).find("input").attr("name")] = $(this).find("input").prop("checked");
                } else {
                    obj[$(this).find("input,select").attr("name")] = $(this).find("input,select").val()
                }
               
            });
            result.push(obj)
        })
        var data = JSON.stringify(result);
        $ajaxFunc("@Url.Content("~/PMG/SaveGPIO")", { "paramaters": data, pmgId: pmgid }, function (res) {
            LayerAlert(res.msg);
        });
    }

    function ChangeSelectedDisplay(self, id) {
        var actionType = $(self).val();
        SelectChangeDisplay(id, actionType);
    }
    function SelectChangeDisplay(id, actionType) {
        if (actionType == 0 || actionType == 1 || actionType == 5 || actionType == 6) {
            $("#" + id).html("")
            return;
        }

        $.ajax({
            type: "POST",
            url: "@Url.Content("~/PMG/GetPageDisplay")",
            data: { "pmgInch": parseInt($("#pmgInch").val()), "actionType": parseInt(actionType) },
            timeout: 3000,
            success: function (res) {
                if (res && res.length > 0) {
                    var _html = "";
                    for (var i = 0; i < res.length; i++) {
                        var item = res[i];
                        _html += '<option value="' + StrTrim(item.value) + '">' + item.Text + '</option>';
                    }
                    $("#" + id).html(_html)
                } else {
                    $("#" + id).html("")
                }
            }

        })

    }

    function initializeComponent() {

        var enable_CheckBoxs = $(".t_Enable");
        enable_CheckBoxs.click(function () {

            var enable = $(this).prop("checked");
            var tag = $(this).attr("tag");

            bindChecked(tag, enable);
        });



    }
    $(this).ready(function () {
        initializeComponent();
    });

    function bindChecked(tag, enable) {
        $("#t_ActiveState_" + tag).prop("disabled", !enable);
        $("#t_Duration_" + tag).prop("disabled", !enable);
        $("#t_Display_" + tag).prop("disabled", !enable);
        $("#t_File_" + tag).prop("disabled", !enable);
        $("#t_Action_" + tag).prop("disabled", !enable);
    }
</script>