@model List<FriscoDev.Application.ViewModels.PMGModel>

@{
    ViewBag.Title = "Scheduled Operation";
}
@section crumbs{
    <div>
        <span onclick="HomePage()" style="cursor: pointer;">Home</span>
        <span>/</span>
        <span>Device Setup</span>
        <span>/</span>
        <span>Scheduled Operation</span>
    </div>

}

<link href="~/css/Scheduled.css" rel="stylesheet" />

<div id="mainContent" class="layui-form ScheduledOperation">

    <div class="layui-form-item" style="padding-top: 20px">
    </div>

    <div class="content_box">
        <div class="left">
            <div class="item" style="display: flex; align-items: center">
                <span style="margin-right: 10px;">Operation Name</span>
                <div>
                    <input type="text" name="text-line-name" id="operationName" class="form-control" />
                </div>
                <div class="item_box">
                    <span style="margin-left: 174px;">PMG Name</span>
                    <div class="right">
                        <select class="" id="PMGID">
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <option value="@item.PMD_ID" data-size="@item.DeviceType">@item.PMDName</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="title">Idel Display</div>
                <div class="item_box">
                    <div class="left">
                        <select id="idleDisplayMode">
                            <option value="0">Display None</option>
                            <option value="1">Display Speed</option>
                            <option value="2">Display Text</option>
                            <option value="3">Display Graphics</option>
                            <option value="4">Display Animation</option>
                            <option value="5">Display Time</option>
                            <option value="6">Display Temperature</option>
                            <option value="7">Display Composite</option>
                        </select>
                    </div>
                    <div class="right">
                        <select id="idleDisplayPage"></select>
                        <button>Edit</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="title">Limit Display</div>
                <div class="item_box1">
                    <div class="box">
                        <p>Speed</p>
                        <p><input type="number" value="65" id="limitSpeed"></p>
                    </div>
                    <div class="box">
                        <select id="limitDisplayMode">
                            <option value="0">Display None</option>
                            <option value="1">Display Speed</option>
                            <option value="2">Display Text</option>
                            <option value="3">Display Graphics</option>
                            <option value="4">Display Animation</option>
                            <option value="5">Display Time</option>
                            <option value="6">Display Temperature</option>
                            <option value="7">Display Composite</option>
                        </select>
                    </div>
                    <div class="box">
                        <select id="limitDisplayPage"></select>
                    </div>
                    <div class="box" style="width: 100px;flex: inherit;">
                        <p><button>Edit</button></p>
                    </div>
                    <div class="box">
                        <p>Alert Action</p>
                        <p>
                            <select id="limitActionType">
                                <option value="0">No Alert</option>
                                <option value="1">Flash Display</option>
                                <option value="2">Strobes</option>
                                <option value="3">Flash + Strobes</option>
                                <option value="4">Camera Trigger</option>
                                <option value="5">GPIO Port 1</option>
                                <option value="6">GPIO Port 2</option>
                                <option value="7">GPIO Port 3</option>
                                <option value="8">GPIO Port 4</option>
                            </select>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="title">Limit Display</div>
                <div class="item_box1">
                    <div class="box">
                        <p>Speed</p>
                        <p><input type="number" value="90" id="alertSpeed"></p>
                    </div>
                    <div class="box">
                        <select id="alertDisplayMode">
                            <option value="0">Display None</option>
                            <option value="1">Display Speed</option>
                            <option value="2">Display Text</option>
                            <option value="3">Display Graphics</option>
                            <option value="4">Display Animation</option>
                            <option value="5">Display Time</option>
                            <option value="6">Display Temperature</option>
                            <option value="7">Display Composite</option>
                        </select>
                    </div>
                    <div class="box">
                        <select id="alertDisplayPage"></select>
                    </div>
                    <div class="box" style="width: 100px;flex: inherit;">
                        <p><button>Edit</button></p>
                    </div>
                    <div class="box">
                        <p>Alert Action</p>
                        <p>
                            <select id="alertActionType">
                                <option value="0">No Alert</option>
                                <option value="1">Flash Display</option>
                                <option value="2">Strobes</option>
                                <option value="3">Flash + Strobes</option>
                                <option value="4">Camera Trigger</option>
                                <option value="5">GPIO Port 1</option>
                                <option value="6">GPIO Port 2</option>
                                <option value="7">GPIO Port 3</option>
                                <option value="8">GPIO Port 4</option>
                            </select>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="layui-row">
                <div class="title" style="display: flex; align-items: center; margin-bottom: 20px;">

                    <span style="margin:0 20px;  font-size: 20px;">Days of Operation</span>
                </div>
                <div class="item_box">
                    <div class="checkbox">
                        <div>
                            <label style="display: flex;align-items: center">
                                <input type="radio" name="Calendar" id="Calendar" value="1" class="fancy" style="opacity: 0;">Calendar
                            </label>
                        </div>
                    </div>
                    <div class="select">
                        <select id="calendarFilename">
                           
                        </select>
                    </div>
                </div>
                <div class="item_box1">
                    <div class="checkbox">
                        <div>
                            <label style="display: flex;align-items: center">
                                <input type="radio" name="Calendar" value="0" id="DateRange" class="fancy" checked="checked" style="opacity: 0;">Date Range
                            </label>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">Start Date</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="StartDate" value="@ViewBag.StartDate" readonly="readonly">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">Stop Date</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="StopDate" value="@ViewBag.EndDate" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="title" style="display: flex; align-items: center; margin-bottom: 20px;">
                    <span style="margin:0 20px;  font-size: 20px;">Recurrence</span>
                    <div class="checkbox">
                        <div style="margin-right: 30px;">
                            <label style="display: flex;align-items: center">
                                <input type="radio" name="days" value="daily"  checked="checked" class="fancy" id="daily" style="opacity: 0;">Daily
                            </label>
                        </div>
                    </div>
                    <div class="checkbox">
                        <div style="margin-right: 30px;">
                            <label style="display: flex;align-items: center">
                                <input type="radio" name="days" value="days" id="days" class="fancy" style="opacity: 0;">Selected Days
                            </label>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-form-item">

                        <div class="layui-row layui-row-week">
                            <div class="layui-inline">
                                <div class="checkbox checkbox-group">
                                    <label>
                                        <input type="checkbox" name="week" value="1" class="fancy" style="opacity: 0;">Monday
                                    </label>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <div class="checkbox checkbox-group">
                                    <label>
                                        <input type="checkbox" name="week" value="2" class="fancy" style="opacity: 0;">Tuesday
                                    </label>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <div class="checkbox checkbox-group">
                                    <label>
                                        <input type="checkbox" name="week" value="3" class="fancy" style="opacity: 0;">Wednesday
                                    </label>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <div class="checkbox checkbox-group">
                                    <label>
                                        <input type="checkbox" name="week" value="4" class="fancy" style="opacity: 0;">Thursday
                                    </label>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <div class="checkbox checkbox-group">
                                    <label>
                                        <input type="checkbox" name="week" value="5" class="fancy" style="opacity: 0;">Friday
                                    </label>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <div class="checkbox checkbox-group">
                                    <label>
                                        <input type="checkbox" name="week" value="6" class="fancy" style="opacity: 0;">Saturday
                                    </label>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <div class="checkbox checkbox-group">
                                    <label>
                                        <input type="checkbox" name="week" value="7" class="fancy" style="opacity: 0;">Sunday
                                    </label>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <div class="checkbox checkbox-group">
                                    <label>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">Start Time</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="StartTime" readonly="readonly" value="@ViewBag.StartTime">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">Stop Time</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="StopTime" readonly="readonly" value="@ViewBag.EndTime">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <hr style="width: 97%;">
        <div class="layui-col-md12">
            <table id="about-table-deviceinfo" class="table text-center">
                <thead>
                    <tr class="header-background">
                        <th></th>
                        <th>Operation Name</th>
                        <th>Date Period</th>
                        <th>Time Period</th>
                        <th>Recurrence</th>
                        <th>Operation Description</th>
                    </tr>
                </thead>
                <tbody id="dataBind"></tbody>
            </table>
        </div>
    </div>
    <div style="text-align: center; margin: 20px auto;">
        <input type="button" class="button width80" id="Add" value="Add" onclick="Add()"/>
        <input type="button" class="button width80" value="Edit" onclick="Edit()"/>
        <button class="button width80" onclick="Delete()">Delete</button>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Scheduled.js"></script>
    <script src="~/Scripts/ScheduledOperation.js"></script>
}

